div.tempn{
	height: 75px;
	width: 126px;
	background-image: url('n.png');

}
div.tempps{
	height: 75px;
	width: 114px;
	background-image: url('ps.png');

}
div.tempc{
	height:75px;
	width:87px;
	background-image: url('c.png');

}
div.tempci{
	height:75px;
	width:84px;
	background-image: url('ci.png');

}
div.tempcm{
	height:75px;
	width:84px;
	background-image: url('cm.png');

}
div.tempcn{
	height:75px;
	width:80px;
	background-image: url('cn.png');

}
div.tempec{
	height: 75px;
	width:92px;
	background-image: url('ec.png');

}
div.tempin{
	height: 56px;
	width: 131px;
	background-image: url('in.png');

}
div.tempnp{
	height: 75px;
	width: 81px;
	background-image: url('np.png');

}
div.temppp{
	height: 75px;
	width: 84px;
	background-image: url('pp.png');

}
div.tempcl{
	height: 75px;
	width: 75px;
	background-image: url('cl.png');

}
div.tempnd{
	height: 75px;
	width: 75px;
	background-image: url('nd.png');

}
div.temppn{
	height: 75px;
	width: 122px;
	background-image: url('pn.png');

}
div.tempch{
	height: 75px;
	width: 86px;
	background-image: url('ch.png');

}
div.temppn{
	height: 75px;
	width: 122px;
	background-image: url('pn.png');

}
div.tempcv{
	height: 75px;
	width: 86px;
	background-image: url('cv.png');

}
div.tempe{
	height: 75px;
	width: 126px;
	background-image: url('e.png');

}
div.tempnv{
	height: 75px;
	width: 105px;
	background-image: url('nv.png');

}
div.temppc{
	height: 83px;
	width: 84px;
	background-image: url('pc.png');

}

div.tempe{
	height: 75px;
	width: 126px;
	background-image: url('e.png');

}
div.tempt{
	height: 75px;
	width: 86px;
	background-image: url('t.png');

}